
<h1 class="text-center">{{'lista de alumnos'| uppercase }}</h1>
<p [ngStyle]="{ backgroundColor: '#2c5f83'}" class="text-center">esta Lista de alumnos Contiene los alumnos inscritos hasta la fecha .</p>
    

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">CURSO</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let alumno of alumnos ">
                    <td>{{ alumno.id }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.carrera }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 